<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
  <head>
    <link href="/stylesheets/main.css" rel="stylesheet">
    <link href="/stylesheets/normalize.css" rel="stylesheet">
    <title>hitch.hike.ly</title>
  </head>
  <body>
    <div class="container">
      <div class="static_column">
        <ul>
        <li><a href="/">hitch.hike.ly</a></li>
        <li><a href="/stories/new">Write your story</a></li>
        <li><form>
            <label>Sort Stories By:
          <select name="Sort Stories By:">
                <option value="Author">Author</option>
                <option value="Places">Places</option>
                <option value="Tags">Tags</option>
           </select></label>
          </form></li>


      </div> <!-- ends static_column -->
      <div class="content">
        <%= yield %>
      </div> <!-- ends content-->
    </div> <!-- ends container -->
  </body>
</html>
