<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
  <head>
    <link href="/stylesheets/main.css" rel="stylesheet">
    <link href="/stylesheets/normalize.css" rel="stylesheet">
    <title>hitch.hike.ly</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1 class="title"><a href="/">hitch.hike.ly</a></h1>
        <ul>
        <li class="new"><a href="/stories/new">write your story</a></li>
        <li><label>sort stories by:
          <select name="Sort Stories By:">
                <option value="Author">Author</option>
                <option value="Places">Places</option>
                <option value="Tags">Tags</option>
           </select></label></li>
        </ul>
      </div> <!-- header -->
      <div class="content">
        <%= yield %>
      </div> <!-- ends content-->
    </div> <!-- ends container -->
  </body>
</html>
