.container {
  width: 900px;
  margin: 0 auto;
  font-family: "Bookman Old Style Regular", Bookman, "Times New Roman", serif;
}

.header  {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: grey;
    background-image: url("/images/evansheadernarrow.jpeg");
    background-repeat: no-repeat;
    background-size: 900px;
    background-position: center;
    height: 150px;
}

.header li {
  display: inline-block;
  margin-right: 10px;
}
/*write story and sort stories*/

.new  a {
    text-decoration: none;
}
/*write story link*/


.header ul  {
  text-align: center;
}

.title  {
  text-align: center;

}

.title a  {
    text-decoration: none;
    color: black;
    font-size: 60px;
    text-shadow: silver 0 -3px;
}

.header label {
/*  float: right;*/
}
/*sort stories button*/

.content  {
  margin-top: 175px;

}

form  {
  text-align: center;
  margin: 0, auto;
}

label {
  padding: 1em, 1em, 1em, 1em;
  display: block;
}

li  {
  list-style: none;
  text-decoration: none;
  color: ;

}

.feed_box li    {
  display: inline;
}

.feed_box {
  margin-bottom: 10px;
  border:60px;
  text-align: center

}


