.container {
  width: 960px;
  margin: 0 auto;

}

.static_column  {
  float: left;
  background-color: purple;

}

form  {
  text-align: center;
  margin: 0, auto;


}

label {
  padding: 1em, 1em, 1em, 1em;
  display: block;
}

li  {
  list-style: none;

}

.feed_box li    {
  display: inline;
}


